[Unit]
Description=Framework for dark-mode and light-mode transitions.
Documentation=man:darkman(1)
PartOf=graphical-session.target
BindsTo=graphical-session.target

[Service]
Type=dbus
BusName=nl.whynothugo.darkman
ExecStart=/usr/bin/darkman
Restart=on-failure
TimeoutStopSec=15
Slice=background.slice

[Install]
WantedBy=graphical-session.target
